<section class="menu-target4">
    <h2>
        <i class="fas fa-user-tie"></i> 
        Clients
    </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Date de Visite</th>
                <th>Données</th>
            </tr>
        </thead>
        <tbody>

        {% for customer in customers %}
            <tr>
                <td>
                    {{ customer.visitDate }}
                    <br>
                    <a class="btn-red" 
                        href="{{ url('customer!delete', {'id': customer.id}) }}"
                        title="Supprimer le Client">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
                <td>
                    {{ customer.usualFirstName }}

                    {% if customer.middleName %}
                        {{ customer.middleName }}
                    {% endif %}

                    {% if customer.thirdName %}
                        {{ customer.thirdName }}
                    {% endif %}

                    {{ customer.lastName }}
                <hr>
                    {{ customer.birthDate }}
                 </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
