<section class="menu-target2">
    <h2>
        <i class="fas fa-question-circle"></i> 
        Définitions
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('definition!create') }}">
        Nouvelle Définition
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

        {% for definition in definitions %}
            <tr>
                <td>
                    {{ definition.name }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('definition!update', {'id': definition.id}) }}"
                        title="Modifier la Définition">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('definition!delete', {'id': definition.id}) }}"
                        title="Supprimer la Définition">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
                <td>
                    {{ definition.description }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
