<section class="menu-target2">
    <h2>
        <i class="fas fa-equals"></i> 
        Nombres calculés
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('calculation!create') }}">
        Nouveau Nombre Calculé
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

        {% for calculation in calculations %}
            <tr>
                <td>
                    {{ calculation.name }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('calculation!update', {'id': calculation.id}) }}"
                        title="Modifier le Nombre Calculé">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('calculation!delete', {'id': calculation.id}) }}"
                        title="Supprimer le Nombre Calculé">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
                <td>
                    {{ calculation.description }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
