{% extends 'layout/layout.twig' %}

{% block title %}Arithmancie{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <header class="head">
        L'arithmancie ou numérologie traditionnelle est une technique de divination basée sur les nombres de 1 à 9.
        Ces origines remontent à Pythagore, il y a plus de 2000 ans.
    </header>

    <ul class="flex">
        <li>
            <a class="btn-primary"
                href="{{ url('number') }}" 
                title="Les 9 Nombres en Arithmancie">
                <i class="fas fa-sort-numeric-down fa-3x fa-fw"></i>
                <span>Nombres</span>
            </a>
        </li>
        <li>
            <a class="btn-primary" 
                href="{{ url('definition') }}" 
                title="Les Nombres Calculés en Arithmancie">
                <i class="fas fa-equals fa-3x fa-fw"></i>
                <span>Calculs</span>
            </a>
        </li>
        <li>
            <a class="btn-primary"
                href="{{ url('theme') }}" 
                title="Votre Thème Numérologique">
                <i class="fab fa-readme fa-3x fa-fw"></i>
                <span>Thème</span>
            </a>
        </li>
    </ul>
 
    <form class="form"
        method="post" 
        action={{ url('home') }}>
        <fieldset>
            <legend>
                Connaître votre Chemin de Vie
            </legend>
            <ul>
                <li>
                    <label for="birthdate">
                        Date de Naissance 
                    </label>
                    <input id="birthdate" 
                        name="birthdate"
                        type="date"
                        required>
                </li>
                <li>
                    <input type="submit" 
                        value="Interpréter">
                </li>
            </ul>
        </fieldset>
    </form>

    {% if numbers %}
        <section class="card-primary container-90lg-80xl-70wd">
            <h2>
                Chemin de Vie {{ numbers.lifePathDigit }} /
                {{ numbers.lifePathNumber }} /
                {{ numbers.lifePathSecondNumber }}
            </h2>
            
            <p>
                {{ numbers.lifePathMainText }}
                <br>
                {% if numbers.lifePathSecondText %}
                    {{ numbers.lifePathSecondText }}
                {% endif %}
                <br>
                {% if numbers.lifePathThirdText %}
                    {{ numbers.lifePathThirdText }}
                {% endif %}
            </p>
        </section>
    {% endif %}
</main>
{% endblock %}
