<section id="lifePath">
    <h2>
        Le Chemin de Vie
    </h2>

    <header class="head">
        Le Chemin de Vie révèle la destinée d'une personne & vous pouvez ici en prendre connaissance!
    </header>

    {% if numbers %}
    <section class="card-primary container-90lg-80xl-70wd">
        <h2>
            Chemin de Vie {{ numbers.lifePathDigit }} /
            {{ numbers.lifePathNumber }} 
            
            {% if numbers.lifePathNumber != numbers.lifePathSecondNumber %}
                / {{ numbers.lifePathSecondNumber }}
            {% endif %}
        </h2>
        
        <p>
            {{ numbers.lifePathMainText }}
            <br>
            {% if numbers.lifePathSecondText %}
                {{ numbers.lifePathSecondText }}
            {% endif %}
            <br>
            {% if numbers.lifePathThirdText %}
                {{ numbers.lifePathThirdText }}
            {% endif %}
        </p>
    </section>
    {% endif %}

    <form class="form"
        method="post" 
        action={{ url('home') }}>
           
        <fieldset>
            <legend>
                Découvrez votre Chemin de Vie
            </legend>
            <ul>
                <li>
                    <label for="birthDate">
                        Date de Naissance 
                    </label>
                    <input id="birthDate" 
                        name="birthDate"
                        type="date"
                        required>
                </li>
                <li>
                    <input type="submit" 
                        value="Interpréter">
                </li>
            </ul>
        </fieldset>
    </form>
</section>
