<article class="card-primary container-90lg-80xl-70wd">
    <h2>Votre Thème Numérologique</h2>

    <p>
        {{ numbers.lifePathDigit }}
        <br>

        {% if numbers.lifePathNumber %}
            {{ numbers.lifePathNumber }}
        {% endif %}

        <br>

        {% if numbers.lifePathSecondNumber %}
            {{ numbers.lifePathSecondNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.expressionDigit }}
        <br>

        {% if numbers.expressionNumber %}
            {{ numbers.expressionNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.intimateDigit }}
        <br>

        {% if numbers.intimateNumber %}
            {{ numbers.intimateNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.realizationDigit }}
        <br>

        {% if numbers.realizationNumber %}
            {{ numbers.realizationNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.dayNumber }}
    </p>

    <p>
        {{ numbers.goalDigit }}
        <br>

        {% if numbers.goalNumber %}
            {{ numbers.goalNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.personalDigit }}
        <br>

        {% if numbers.personalNumber %}
            {{ numbers.personalNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.hereditaryDigit }}
        <br>

        {% if numbers.hereditaryNumber %}
            {{ numbers.hereditaryNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.powerDigit }}
        <br>

        {% if numbers.powerNumber %}
            {{ numbers.powerNumber }}
        {% endif %}
    </p>

    <p>
        {{ numbers.spiritualDigit }}
        <br>
        
        {% if numbers.spiritualNumber %}
            {{ numbers.spiritualNumber }}
        {% endif %}
    </p>
</article>
