<article class="card-primary container-90lg-80xl-70wd">
    <h2>Votre Thème Numérologique</h2>

    <p>
        {{ dateData.lifePathDigit }}
        <br>

        {% if dateData.lifePathNumber %}
            {{ dateData.lifePathNumber }}
        {% endif %}
    </p>

    <p>
        {{ nameData.expressionDigit }}
        <br>

        {% if nameData.expressionNumber %}
            {{ nameData.expressionNumber }}
        {% endif %}
    </p>

    <p>
        {{ nameData.intimateDigit }}
        <br>

        {% if nameData.intimateNumber %}
            {{ nameData.intimateNumber }}
        {% endif %}
    </p>

    <p>
        {{ nameData.realizationDigit }}
        <br>

        {% if nameData.realizationNumber %}
            {{ nameData.realizationNumber }}
        {% endif %}
    </p>

    <p>
        {{ dateData.dayNumber }}
    </p>

    <p>
        {{ dateData.goalDigit }}
        <br>

        {% if dateData.goalNumber %}
            {{ dateData.goalNumber }}
        {% endif %}
    </p>

    <p>
        {{ nameData.personalDigit }}
        <br>

        {% if nameData.personalNumber %}
            {{ nameData.personalNumber }}
        {% endif %}
    </p>

    <p>
        {{ nameData.hereditaryDigit }}
        <br>

        {% if nameData.hereditaryNumber %}
            {{ nameData.hereditaryNumber }}
        {% endif %}
    </p>

    <p>
        {{ synthesisData.powerDigit }}
        <br>

        {% if synthesisData.powerNumber %}
            {{ synthesisData.powerNumber }}
        {% endif %}
    </p>

    <p>
        {{ synthesisData.spiritualDigit }}
        <br>
        
        {% if synthesisData.spiritualNumber %}
            {{ synthesisData.spiritualNumber }}
        {% endif %}
    </p>
</article>
