{% extends 'layout/layout.twig' %}

{% block title %}Thème{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>

    <form class="form"
        method="post" 
        action={{ url('theme') }}>

        <fieldset>
            <legend>Votre Theme Numérologique Traditionnel</legend>
            <ul>
                <li>
                    <label for="usual-first-name">
                    Prénom Usuel
                    </label>
                    <input id="usual-first-name" 
                        name="usual-first-name"
                        type="text" 
                        placeholder="Prénom-Usuel"
                        required>
                </li>
                <li>
                    <label for="middle-name">
                    Second Prénom
                    </label>
                    <input id="middle-name" 
                        name="middle-name"
                        type="text" 
                        placeholder="Optionnel">
                </li>
                <li>
                    <label for="third-name">
                    Troisième Prénom
                    </label>
                    <input id="third-name" 
                        name="third-name"
                        type="text" 
                        placeholder="Optionnel">
                </li>
                <li>
                    <label for="last-name">
                    Nom de Famille
                    </label>
                    <input id="last-name" 
                        name="last-name"
                        type="text" 
                        placeholder="Nom-de-Famille"
                        required>
                </li>
                <li>
                    <label for="birthdate">
                        Votre Date de Naissance 
                    </label>
                    <input id="birthdate" 
                        name="birthdate"
                        type="date"
                        required>
                </li>
            </ul>
            <ul>
            <li>
                <input type="submit" 
                    value="Interpréter">
            </li>
            </ul>
        </fieldset>
    </form>

    {% if numbers %}
        <section class="card-primary">
            <h2>Chemin de Vie #{{ numbers.astralNumber }}</h2>
            <p>{{ numbers.astralText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre d'Expression #{{ numbers.expressionNumber }}</h2>
            <p>{{ numbers.expressionText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre d'Âme #{{ numbers.soulNumber }}</h2>
            <p>{{ numbers.soulText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre du Jour #{{ numbers.dayNumber }}</h2>
            <p>{{ numbers.dayText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre de Réalisation #{{ numbers.realizationNumber }}</h2>
            <p>{{ numbers.realizationText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre Personnel #{{ numbers.personalNumber }}</h2>
            <p>{{ numbers.personalText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre Héréditaire #{{ numbers.hereditaryNumber }}</h2>
            <p>{{ numbers.hereditaryText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre du But #{{ numbers.goalNumber }}</h2>
            <p>{{ numbers.goalText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre de Pouvoir #{{ numbers.powerNumber }}</h2>
            <p>{{ numbers.powerText }}</p>
        </section>

        <section class="card-primary">
            <h2>Nombre Spirituel #{{ numbers.spiritualNumber }}</h2>
            <p>{{ numbers.spiritualText }}</p>
        </section>
    {% endif %}

</main>
{% endblock %}
