{% extends 'layout/layout.twig' %}

{% block title %}Thème Numérologique{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>

    <form class="form"
        method="post" 
        action={{ url('theme') }}>

        <fieldset>
            <legend>Votre Theme Numérologique Traditionnel</legend>
            <ul>
                <li>
                    <label for="usual-first-name">
                    Prénom Usuel
                    </label>
                    <input id="usual-first-name" 
                        name="usual-first-name"
                        type="text" 
                        placeholder="Prénom-Usuel"
                        required>
                </li>
                <li>
                    <label for="middle-name">
                    Second Prénom
                    </label>
                    <input id="middle-name" 
                        name="middle-name"
                        type="text" 
                        placeholder="Optionnel">
                </li>
                <li>
                    <label for="third-name">
                    Troisième Prénom
                    </label>
                    <input id="third-name" 
                        name="third-name"
                        type="text" 
                        placeholder="Optionnel">
                </li>
                <li>
                    <label for="last-name">
                    Nom de Famille
                    </label>
                    <input id="last-name" 
                        name="last-name"
                        type="text" 
                        placeholder="Nom-de-Famille"
                        required>
                </li>
                <li>
                    <label for="birthdate">
                        Votre Date de Naissance 
                    </label>
                    <input id="birthdate" 
                        name="birthdate"
                        type="date"
                        required>
                </li>
            </ul>
            <ul>
            <li>
                <input type="submit" 
                    value="Interpréter">
            </li>
            </ul>
        </fieldset>
    </form>

    {% if numbers %}
        <article class="card-primary container-90lg-80xl-70wd">
            <h2>Votre Thème Numérologique</h2>

                <p>
                    Chemin de Vie {{ numbers.astralNumber }} :
                    <br>
                    {{ numbers.astralText }}
                </p>

                <p>
                    Nombre d'Expression {{ numbers.expressionNumber }} :
                    <br>
                    {{ numbers.expressionText }}
                </p>

                <p>
                    Nombre d'Âme {{ numbers.soulNumber }} :
                    <br>
                    {{ numbers.soulText }}
                </p>

                <p>
                    Nombre du Jour {{ numbers.dayNumber }} :
                    <br>
                    {{ numbers.dayText }}
                </p>

                <p>
                    Nombre de Réalisation {{ numbers.realizationNumber }}
                    <br>
                    {{ numbers.realizationText }}
                </p>
     
                <p>
                    Nombre Personnel {{ numbers.personalNumber }}
                    <br>
                    {{ numbers.personalText }}
                </p>

                <p>
                    Nombre Héréditaire {{ numbers.hereditaryNumber }}
                    <br>
                    {{ numbers.hereditaryText }}
                </p>

                <p>
                    Nombre du But {{ numbers.goalNumber }}
                    <br>
                    {{ numbers.goalText }}
                </p>

                <p>
                    Nombre de Pouvoir {{ numbers.powerNumber }}
                    <br>
                    {{ numbers.powerText }}
                </p>
 
                <p>
                    Nombre Spirituel {{ numbers.spiritualNumber }}
                    <br>
                    {{ numbers.spiritualText }}
                </p>
            </article>
    {% endif %}

</main>
{% endblock %}
