<nav class="navbar">
    <input id="navbar-close"
        class="navbar-close" 
        type="radio" 
        name="navbar" 
        checked>
    <input id="navbar-open" 
        class="navbar-open" 
        type="radio" 
        name="navbar">

    <a class="anima-slideB-this" 
        href="./" 
        title="Accueil">
        <img src="img/phi.svg" 
        alt="Logo Philippe"
        width="40"
        height="40">
    </a>

    <ul>
        <li>
            <a href="{{ url('number') }}" 
                title="Les 9 Nombres en Arithmancie">
                <i class="fas fa-sort-numeric-down fa-lg fa-fw"></i>
                <span>Nombres</span>
            </a>
        </li>
        <li>
            <a href="{{ url('calculation') }}" 
                title="Le Nombres Calculés en Arithmancie">
                <i class="fas fa-equals fa-lg fa-fw"></i>
                <span>Calculs</span>
            </a>
        </li>
        <li>
            <a href="{{ url('theme') }}" 
                title="Votre Thème Numérologique">
                <i class="fab fa-readme fa-lg fa-fw"></i>
                <span>Thème</span>
            </a>
        </li>
    </ul>

    <ul>
    
    {% if (checkUser()) %}
        <li>
            <a href="{{ url('admin') }}" 
                title="{{ getSession('name') }} Admin">
                <img class="bord-circle" 
                    src="img/user/{{ getSession('image') }}" 
                    alt="{{ getSession('name') }} Picture">
            </a>
        </li>
        <li>
            <a class="onto-color-red" 
                href="{{ url('auth!logout') }}" 
                title="Déconnexion">
                <i class="fas fa-sign-out-alt fa-lg"></i>
            </a>
        </li>

    {% else %}
        <li>
            <a class="onto-color-blue" 
                href="{{ url('contact') }}" 
                title="Contact">
                <i class="fas fa-at fa-lg fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="onto-color-pink" 
                href="https://github.com/sponsors/philippebeck" 
                title="Sponsor">
                <i class="far fa-heart fa-lg fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="onto-color-pp" 
                href="https://www.paypal.me/philippebeck" 
                title="Donation">
                <i class="fab fa-paypal fa-lg fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="onto-color-orange" 
                href="{{ url('auth') }}" 
                title="Connexion">
                <i class="fas fa-sign-in-alt fa-lg fa-fw"></i>
            </a>
        </li>
    {% endif %}

    </ul>

    <label for="navbar-close" 
        title="Fermer le Menu de Navigation">
        <i class="fas fa-angle-double-up fa-lg"></i>
    </label>
    <label for="navbar-open" 
        title="Ouvrir le Menu de Navigation">
        <i class="fas fa-angle-double-down fa-lg"></i>
    </label>
</nav>
